{% extends "base.html" %}
{% block title %}Settings — Shelf{% endblock %}
{% block head %}
<script src="/static/js/komga-library-types.js"></script>
{% endblock %}
{% block content %}
<div class="max-w-7xl mx-auto" x-data="settingsTabs">
    {% include "fragments/settings/page_header.html" %}

    <div class="flex flex-col lg:flex-row gap-6">
        {% include "fragments/settings/sidebar.html" %}

        <section class="min-w-0 flex-1">
            {% include "fragments/settings/section_headers.html" %}

            {% include "fragments/settings/library.html" %}

            <div x-show="tab === 'integrations'">
                {% include "fragments/settings/integration_index.html" %}
            </div>
            {% include "fragments/settings/integrations.html" %}

            {% include "fragments/settings/data.html" %}
            <div x-show="tab === 'data'" class="mt-8">
                {% include "fragments/settings/connection_rebuild.html" %}
            </div>

            {% include "fragments/settings/users.html" %}
            {% include "fragments/settings/oidc_local_login_policy.html" %}
            {% include "fragments/settings/oidc_session_policy.html" %}
            {% include "fragments/settings/oidc_account_linking.html" %}
        </section>
    </div>
</div>
{% endblock %}
